.elemh1 {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 400;
    display: inline-block ;
    margin-right: 2.4vw;
    /* animation: anime 6s infinite linear; */
}

.dash {
    border: 1px solid #fff;
    width: 5vw;
    height: .5vw;
    color: #fff;
}

@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 10px));
    }
}