.line {
    height: fit-content;
    overflow: hidden;
    /* display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:2vw */
}

.part1 {
    /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw; */
}

.animateh2 {
    animation: anime 1s infinite;
}

@keyframes anime {
    0% {
        font-family: 'PlinaReg';        
    }
    
    100% {
        font-family: 'silkSerifReg';

        -webkit-text-stroke: 1px #fff;
        color: transparent;
    }
}