.circleIn{
    transition: all ease 0.3s;
    transform-origin: center;
}


.circleInpara {
    transition: all ease 0.3s;
    transition-delay: 0.5s;
}

.page3Circle:hover .circleIn {
    
    transform: scale(1);

}

.page3Circle:hover .circleInpara {
    transform: scale(1);
}


