/* .circleIn, .circleInpara{
    transform-origin: center;
    transition: all ease 0.3s;
}

.circleInpara {
    transition-delay: 0.3s;
}

.page3Circle:hover .circleIn {
    transform: scale(1);
}

.page3Circle:hover .circleInpara {
    transform: scale(1);
} */


