

.line1 svg .path2{
    stroke-width: 1px;
    stroke: white;
    fill: none;
}


.line1 .box1 {
    height: 40px;
    /* border: 1px solid red; */
    position: relative;
    top: -20px;
    z-index: 4;
}




.line svg .path1{
    stroke-width: 1px;
    stroke: white;
    fill: none;
}


.line .box {
    height: 40px;
    /* border: 1px solid red; */
    position: relative;
    top: -20px;
    z-index: 4;
}
