.line svg .path1{
    stroke-width: 1px;
    stroke: white;
    fill: none;
}


.line .box {
    height: 40px;
    /* border: 1px solid red; */
    position: relative;
    top: -20px;
    z-index: 4;
}


.line .box:hover {
    height: 120px;
    top: -75px;
}